@using Recipes.Core
@{
}

@model List<InfoDish>
<div class="float-end">
    <a href="/InfoDish/create" class="btn btn-success">Додати рецепт</a>
</div>
<div class="text-center">
    <h3>Каталог кулінарних рецептів</h3>
</div>
<hr />
<br />
<!-- Receipe Post Search -->
<div class="receipe-post-search mb-80">
    <div class="container">
        <form action="#" method="post">
            <div class="row">
                <div class="col-12 col-lg-3">
                    <input type="search" name="search" placeholder="Search Receipies">
                </div>
                <div class="col-12 col-lg-3 text-lg-right">
                    <button type="submit" class="btn delicious-btn">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>


 <section class="best-receipe-area">
       <tbody>
        <div class="container row">
            @foreach (var item in Model)
            {
                          <div class="col-12 col-sm-6 col-lg-4">
                            <div class="single-best-receipe-area mb-30">
                                 <img src="@item.IconPath" alt="">
                                    <div class="receipe-content">
                                        <a href="receipe-post.html">
                                            <h5 class="card-title">@item.Title</h5>
                                        </a>
                                            <div class="ratings">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <br>
                                             <div class="d-flex justify-content-between align-items-center">
                                                <div class="btn-group">
                                                    <a class="btn btn-sm btn-outline-secondary" asp-action="Edit" asp-route-id="@item.Id">Редагувати</a>
                                                    <a class="btn btn-sm btn-outline-secondary" asp-action="Details" asp-route-id="@item.Id">Деталі</a>
                                                    <a class="btn btn-sm btn-outline-secondary" asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                                                </div>
                                             </div>
                            </div>
                          </div>
            }
        </div>
    </tbody>

            </div>
        </div>
 </section>